* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: white;
  color: #111;
}

header {
  text-align: center;
  padding: 40px 20px 20px;
}

header h1 {
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
}

nav {
  margin-top: 20px;
}

nav a {
  color: #111;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

.carrito {
  background: #000;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 20px;
  cursor: pointer;
}

.filtros {
  text-align: center;
  margin: 20px 0;
}

.filtros button {
  background: #000;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 20px;
  margin: 5px;
  font-weight: bold;
  cursor: pointer;
}

.categoria {
  max-width: 1150px;
  margin: auto;
  padding: 30px 20px;
}

.categoria h2 {
  font-size: 28px;
  color: #444;
  margin-bottom: 30px;
  border-left: 5px solid #000;
  padding-left: 15px;
  text-transform: uppercase;
}

.catalogo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
}

.producto {
  border: 1px solid #eee;
  background: white;
  text-align: center;
  padding: 20px;
}

.producto img {
  width: 100%;
  height: 190px;
  object-fit: contain;
  margin-bottom: 22px;
}

.marca {
  color: #999;
  font-size: 11px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.producto h3 {
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 25px;
}

.precio {
  color: #000;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 18px;
}

.producto button {
  width: 100%;
  background: #000;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 25px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.producto button:hover {
  background: #333;
}

.oculto {
  display: none;
}

footer {
  background: #000;
  color: white;
  text-align: center;
  padding: 25px;
  margin-top: 40px;
}

@media (max-width: 900px) {
  .catalogo {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .catalogo {
    grid-template-columns: 1fr;
  }
}